body{
    font-family: sans-serif;
    background-image: url('hatter.jpg');
    margin: 25px;
    background-size: 100%;
}
h2{
    color: #32305e;
    text-align: center;
    border : black solid 3px;

}
h1{
    color: #32305e;
    text-align: center;
}
p{
    color: black;
    padding: 40px;
    
}
em{
    font-size: 30px;
    color: #32305e;
}
#hatter{
    background-color: #ffffff7f;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.kepkeret{
    width: 375px;
    float: right;
    text-align: center;
    font-size: 100%;
    padding: 0px 5px 5px;
    margin-left: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px gray; 
    border: darkblue 2px solid;
    font-style: italic;

}