body {
    font-family: sans-serif;
	background-image: url('hatter.jpg');
        text-align:center ;    
        background-size: 115%;
        padding: 0px;
        margin: 0px;
}

img.tört{
      height: 600px ;
      border: tan 5px solid;
}

h2{
    background: whitesmoke;
   border :slategray solid 3px;
   margin-bottom: 25px;
   width: 250px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

p.story {
     background: whitesmoke;
   border :slategray solid 3px;
   margin-bottom: 15px;
   width: 1080px;
   margin-left: auto;
   margin-right: auto;
   
}

#hatter{
    background-color: 
        #ffdc917f;
}

img.hadi{
     height: 600px ;
      border: tan 5px solid;
      width: 900px;
}

a:hover {
    opacity: 0.70;
}

#forrasok {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    border: 5px gray solid;
}


a:link {
    text-decoration: none;
}

#belsfor {
    border: 3px black solid;
    background-color: lemonchiffon ;
    width: 250px;
     margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
}