body{
    font-family: sans-serif;
    background-image: url('hatter.jpg');
    margin: 25px;
    background-size: 100%;
}
h2{
    color: #32305e;
}
h1{
    color: #32305e;
    text-align: center;
}
#hatter{
    background-color: #ffffff7f;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 6px;
    border: blue 3px solid;
    margin: 5px;
    background-color: blue;
    color: white;
}

a:hover{
    color: red;
}

.kepkeret1{
    width: 265px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

.kepkeret2{
    width: 275px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

.kepkeret3{
    width: 380px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

.kepkeret4{
    width: 270px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

.kepkeret5{
    width: 260px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

.kepkeret6{
    width: 380px;
    text-align: center;
    padding: 0px 0px 0px;
    margin-left: 15px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey; 
    border: darkblue 2px solid;
}

p{
    font-size: 20px;
}